<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyl.mapper.NursingProjectMapper">

    <select id="findPage" resultType="com.zzyl.pojo.NursingProject">
        select  * from nursing_project
    </select>
    <select id="nusingProjectById" resultType="com.zzyl.pojo.NursingProject">
        select * from nursing_project where id=#{id}
    </select>
</mapper>